#app {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetic Neue", Helvetica, Arial;
}

.button {
    color: #ffffff;
    background-color: #84baaf;
    padding: 0.75rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}