<div class="weather">
    <h1 class="weather-headline">{{ headline }}</h1>
    <h2 class="weather-status">{{ weather }}</h2>
    <div class="weather-icon {{ weatherClass }}"></div>
    {{#if isRaining }}
        <button type="button" class="stop-the-rain-button js-stop-the-rain">Stop the rain</button>
    {{/if}}
    <p class="weather-eta js-weather-eta">We should have this fixed <span class="weather-eta-time js-time"></span>.</p>
</div>