<div class="weather error">
    <img src="/assets/img/no-location.png" alt="No location." />
    <h1>Sorry!</h1>
    <p><strong>We don't know where you are.</strong></p>
    <p>We hope it rains a lot though.</p>
</div>