<div class="weather error">
    <img src="/assets/img/no-network.png" alt="No interwebs!" />
    <h1>No internet!</h1>
    <p><strong>We can't help you without the internet.</strong></p>
    <p>We will still stop the rain, but it will take longer.</p>
    <p>And that's your fault.</p>
</div>