<div class="weather error">
    <img src="/assets/img/not-supported.png" alt="Picture of an old geezer, like you." />
    <h1>Sorry!</h1>
    <p><strong>We don't support old people.</strong></p>
    <p>Come back when you have a proper browser.</p>
</div>