<div class="icon thunder-storm">
  <div class="icon-cloud"></div>
  <div class="icon-lightning">
    <div class="icon-lightning-bolt"></div>
    <div class="icon-lightning-bolt"></div>
  </div>
</div>
