<!DOCTYPE html>
<html>
<head>
    <title>Stop the rain!</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div id="app"></div>
<script src="/assets/main.js"></script>
</body>
</html>
