<!DOCTYPE html>
<html>
<head>
    <title>Stop the rain!</title>
    <link rel="stylesheet" href="/assets/styles.min.css">
</head>
<body>
    {{{body}}}
    <script src="/assets/scripts.min.js"></script>
</body>
</html>
