<!DOCTYPE html>
<html>
<head>
    <title>Stop the rain!</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    {{{body}}}
    <script src="/assets/main.js"></script>
</body>
</html>
