<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Stop the rain!</title>
    <link rel="stylesheet" href="/assets/styles.min.css">
    <link rel="favorite icon" href="/assets/favicon.ico">
</head>
<body>
    {{{body}}}
    <script src="/assets/scripts.min.js"></script>
</body>
</html>
